body{
  background-color: #F7F5F2;
  font-family: 'Fuzzy Bubbles', cursive;
box-sizing: border-box;
background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");

}
h1{
  font-weight: 700;
}

i{
  color: #ffffff;
}
p{
  font-weight: 700;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

/* IDs */
#tasks{
  align-content: center;
  width: 100%;
  flex-wrap: nowrap;
  border-radius: 40px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d1d1d1,
               -5px -5px 10px #ffffff;
}

#content{
        opacity: 1;
        transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -webkit-transition: opacity 2s ease-in-out;
        padding-bottom: 2.5rem;  
    }


/* Content */
.container-fluid{
  position: relative;
  min-height: 90vh;
}
/* icons */
.circle-icon{
  background: #F3A953;
  width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   line-height: 50px;
   vertical-align: middle;
   padding: 10px;
}

.circle-icon-today{
  background: #366ED8;
  width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   line-height: 50px;
   vertical-align: middle;
   padding: 10px;
}

/* Bootstrap Cards */
.card{
  border-radius: 20px;
  border: none;
  box-shadow:  5px 5px 10px #d1d1d1,
               -5px -5px 10px #ffffff;

}
.card-titles{
padding-top: 10px;
}

.card-numbers{
  display: inline-grid;
  margin-left: 120px;
  font-size: 25px;
  font-weight: 700;
}

/* New Task Form */
.button-col{

  padding-top: 20px;
 
}
/* Task Buttons */

.btn-outline-success{
  margin-top: 20px;
}
.btn-outline-danger{
  margin-top: 20px;
  display:inline-table;
}
.visible{
  display: inline;
  margin-left: 720px;
}
.delete{
  display:inline;
}

/* Task Form */
.col-md-8, .status-content{
  padding-top: 20px;
}

.mt-5{
  padding: 20px 30px 20px 30px;
  width: 100%;
}
.list-group-item{
  margin-top: 10px;
  width: 100%;
  height: 15rem;
  background-color: #D8D8D8;
  border-radius: 25px !important;
  box-shadow:  5px 5px 10px #d1d1d1,
               -5px -5px 10px #ffffff;


}
/* Different Color Notes */
 

#newTaskList{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1% auto;

}

.addTask{
  margin-left: 40%;
  font-size: 2rem;
  padding-top: 5%;
}

@media screen and (max-width: 450px) {
  .card-numbers{
    font-size: 16px;
    margin-left: 10px;
  }
}

/* @media screen and (max-width: 1200px) {
 #button{
   
    margin-left: 40px;
  }
}


@media screen and (max-width: 1000px) {
  #button{
    
     margin-left: 0px;
   }
 }

 @media screen and (max-width: 800px) {
  #button{
    
     margin-left: 0px;
   }
 } */

